#banner {
    position: relative;
    min-height: 63rem;
    @include media-breakpoint-down(lg) {
        min-height: 48rem;
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-transform: uppercase;
        @include media-breakpoint-down(lg) {
            padding: 0 20px;
        }
        h2 {
            font-size: 7.2rem;
            @include media-breakpoint-down(lg) {
                font-size: 3.2rem;
            }
        }
        h5 {
            @include media-breakpoint-down(lg) {
                font-size: 1.9rem;
                font-weight: 400;
            }
        }
    }
}

#model-section {
    .small-device-wrapper {
        padding: 4rem 0 !important;
        .heading {
            text-transform: uppercase;
            font-size: 2.5rem;
            padding: 2rem;
        }
        .active-content {
            padding: 2rem;
            .product-name {
                font-size: 4rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.04rem;
                color: #202020;
                text-transform: uppercase;
            }
            .product-desc {
                font-size: 1.9rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.32;
                letter-spacing: normal;
                color: #202020;
                text-transform: uppercase;
            }
            .model-button-container {
                @include media-breakpoint-up(lg) {
                    & > *:first-child {
                        margin-right: 1.2rem;
                    }
                }
                @include media-breakpoint-down(lg) {
                    flex-wrap: wrap;
                    & > * {
                        width: 100%;
                        margin-top: 1.4rem;
                    }
                }
            }
        }
    }
}

#news-list {
    padding: 7rem 0;
    @include media-breakpoint-down(lg) {
        .container {
            padding-left: 4rem;
            padding-right: 4rem;
            max-width: 100%;
        }
        h5 {
            font-size: 2.8rem;
            letter-spacing: 0.162rem;
        }
        h2 {
            font-size: 5rem;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: -0.15rem;
        }
        .news-list {
            padding-top: 4rem;
        }
        p,
        .news-list .btn,
        .news-list-banner .btn {
            display: none;
        }
        .news-all {
            .btn {
                width: 100%;
            }
        }
    }
}

footer {
    background-color: #181818;
    padding: 6rem 0 7rem 0;
    .container-fluid {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .footer-fixed-emission {
        font-size: 1.6rem;
        font-size: 400 !important;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .nav-link-container {
        @include add-navigation-link();
        a {
            font-weight: 400 !important;
        }
    }
    .socio-links {
        @include add-navigation-link("no");
    }
    @include media-breakpoint-down(xl) {
        .web-links {
            ul {
                flex-grow: 1;
                flex-basis: 100%;
                flex-wrap: wrap;
                li {
                    flex: 1 0 50%;
                    margin-bottom: 1.2rem;
                    margin-right: 0px !important;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .socio-links {
            margin-top: 3rem;
            ul {
                flex-grow: 1;
                flex-basis: 100%;
                flex-wrap: wrap;
                li {
                    flex: 1 0 25%;
                    margin-bottom: 1.2rem;
                    margin-right: 0px !important;
                    min-width: 6rem;
                    a {
                        font-size: 2.5rem;
                    }
                }
            }
        }
        .footer-copyright {
            margin-top: 0 !important;
            font-size: 1.1rem;
        }
    }
    .footer-copyright {
        color: white;
        font-size: 1.6rem;
        margin-top: 4rem;
        font-weight: 300;
    }
}
